__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
venv/
env/
.venv/
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
.env
build/
dist/
*.egg-info/
*.log
node_modules/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.coverage
.coverage.*
.mypy_cache/
.cache/
*.spec
